<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Front-End Interview Test // Stefano Veltri</title>
    <link rel="icon" href="/icon.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body>
